#mainNav{
    
}

#about{
    background-color: #222;
}

.bg-light .py-5{
    background-color: #222;
}

footer{
    background-color: #222; 
}

#services {
    background-color: #222;
    color: white;
}

.icons{
    display: flex;
    gap: 20px;
}

.git {
    color: rgb(180, 59, 59)
}

.git :hover {
    color: white;
}

.linkd{
    color: #0e76a8;
}

.linkd :hover{
    color: white;
}


.whats{
    color: #25D366;
}

.whats :hover{
    color: white;
}

.insta{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FFD700);
    -webkit-background-clip: text;
    color: transparent;
}

.insta :hover{
    color: white;
}

.face{
    color: #214ca7;
}

.face :hover{
    color: white;
}

